*~
__pycache__
.Python

# cloud credentials
*ba78*.json

# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
*.tfstate*
terraform-provider*v*
current.plan

# asdf version manager
.tool-versions

# don't commit data files
*.json
